<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Add Listing</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput #listing_title type="text" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput #description type="text" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput #city type="text" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input matInput #street type="text" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput #postal_code type="text" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput #price type="number" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Contact Email</mat-label>
            <input matInput #email type="string" required />
        </mat-form-field>

        <button 
            mat-button 
            color="primary" 
            (click)="createListing(
                listing_title.value, 
                description.value, 
                city.value, 
                street.value,
                postal_code.value, 
                price.value, 
                email.value
            )"
        >
            Add Listing
        </button>
      </mat-card-content>
  
    </mat-card>
  </div>